# Object identity and proxy
ice.locator_host                = localhost
ice.locator_port                = 4061
ice.service_name                = SkyModelService
ice.adapter_name                = SkyModelServiceAdapter
ice.adapter_endpoints           = tcp

# Use a mock FCM
fcm.mock                        = true
fcm.mock.filename               = mock_fcm.cfg

# Configuration of the functional test feedback/reporter interface
cpfunctestreporter.identity     = FuncTestReporter@FuncTestServerAdapter

############################################################
## Database configuration

# Select the backend (sqlite, mysql, pgsql)
database.backend                = sqlite
database.max_pixels_per_query   = 2000

# select whether existing tables are dropped or not when creating the schema in a database
database.create_schema.droptables = true

## sqlite specific options
sqlite.name                     = stress_test.db
