# Object identity and proxy
ice.locator_host                = localhost
ice.locator_port                = 4061
ice.service_name                = {{cookiecutter.ice_service_name}}
ice.adapter_name                = {{cookiecutter.ice_service_name}}Adapter
ice.adapter_endpoints           = tcp

# Use a mock FCM
fcm.mock                        = true
fcm.mock.filename               = config-files/mock_fcm.cfg

# Configuration of the functional test feedback/reporter interface
cpfunctestreporter.identity     = FuncTestReporter@FuncTestServerAdapter

############################################################
